﻿@model UM.WebApp.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Assets/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/Assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label class="label">Username</label>
                                    <div class="input-group">
                                        @*<input type="text" class="form-control" placeholder="Username">*@
                                        @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = "Username", @autofocus = "autofocus" })
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Password</label>
                                    <div class="input-group">
                                        @*<input type="password" class="form-control" placeholder="*********">*@
                                        @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = "Password" })
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationSummary(false, "", new { @class="text-danger" })
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary submit-btn btn-block">Login</button>
                                </div>
                                @*<div class="form-group d-flex justify-content-between">
                                        <div class="form-check form-check-flat mt-0">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" value="Remember me" checked>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="text-block text-center my-3">
                                        <span class="text-small font-weight-semibold">Not a member ?</span>
                                        <a href="/User/Register" class="text-black text-small">Create new account</a>
                                    </div>*@
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/Assets/js/off-canvas.js"></script>
    <script src="/Assets/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>