﻿@using UM.WebApp.Common
@using UM.WebApp.Models
@{
    Layout = null;
}

@{
    var loginSession = (LoginSessionModel)Session[Constants.LOGIN_SESSION_KEY];
    var displayName = loginSession.FirstName + " " + loginSession.LastName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>University Megazine</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/myStyle.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/Assets/images/favicon.png" />

    <!-- Media -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery-1.11.1.min.js"></script>

    <!-- font-awesome-->
    <link href="~/Assets/fonts/css/all.min.css" rel="stylesheet" />

    <!-- popup-->
    <link href="~/Assets/css/simpleLightbox.css" rel="stylesheet" />

    <link href="~/Assets/css/simple-modal-default.min.css" rel="stylesheet" />
    <link href="~/Assets/css/simple-modal.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="/Home/Index">
                    <img src="~/Assets/images/University_of_Greenwich_logo.png" alt="logo" style="max-width: 100%; height: auto;" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="/Home/Index">
                    <img src="~/Assets/images/logo_mini.jpg" alt="logo" style="max-width: 100%; height: auto;">
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-elevation-rise"></i>Reports
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-file-document-box"></i>
                            <span class="count">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <div class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 2 unread mails
                                </p>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="/Assets/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Tim Cook
                                        <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="/Assets/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Johnson
                                        <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <span class="count">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 2 new notifications
                                </p>
                                <span class="badge badge-pill badge-warning float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-comment-text-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                                    <p class="font-weight-light small-text">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-email-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                                    <p class="font-weight-light small-text">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Hello, @displayName</span>
                            <img class="img-xs rounded-circle" src="~/Assets/images/faces/pikachu.jpg" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item mt-2">
                                Manage Accounts
                            </a>
                            <a class="dropdown-item">
                                Change Password
                            </a>
                            <a class="dropdown-item">
                                Check Inbox
                            </a>
                            @*<a class="dropdown-item">
                                    Sign Out
                                </a>*@
                            @Html.ActionLink("Sign Out", "Logout", "Login", "", new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper" style="padding-top: 0;">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    <img src="/Assets/images/faces/pikachu.jpg" alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <p class="profile-name">@displayName</p>
                                    <div>
                                        @if (loginSession.Role == (int)Constants.Roles.Administrator)
                                        {
                                        <small class="designation text-muted">@Constants.Roles.Administrator</small>
                                        }
                                        else if (loginSession.Role == (int)Constants.Roles.Manager)
                                        {
                                            <small class="designation text-muted">@Constants.Roles.Manager</small>
                                        }
                                        else if (loginSession.Role == (int)Constants.Roles.Coordinator)
                                        {
                                            <small class="designation text-muted">@Constants.Roles.Coordinator</small>
                                        }
                                        else if (loginSession.Role == (int)Constants.Roles.Student)
                                        {
                                            <small class="designation text-muted">@Constants.Roles.Student</small>
                                        }
                                        else
                                        {
                                            <small class="designation text-muted">@Constants.Roles.Guest</small>
                                        }
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">
                            <i class="menu-icon mdi mdi-view-dashboard"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-article" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-content-copy"></i>
                            <span class="menu-title">Article</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-article">
                            <ul class="nav flex-column sub-menu">
                                @if (loginSession.Role == (int)Constants.Roles.Coordinator || loginSession.Role == (int)Constants.Roles.Manager)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Article/Index">All Articles</a>
                                    </li>
                                }
                                else if (loginSession.Role == (int)Constants.Roles.Student)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Article/Index">My Articles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Article/AddNewArticle">Add New Article</a>
                                    </li>
                                }
                                @*<li class="nav-item">
                                    <a class="nav-link" href="/Article/Upload">Upload Documents</a>
                                </li>*@
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-media" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-image"></i>
                            <span class="menu-title">Media</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-media">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Media/Library">Library</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Media/Index">Add New</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © 2019
                            <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Hand-crafted & made with
                            <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="/Assets/js/plugins/ckfinder/ckfinder.js"></script>
    <script src="/Assets/js/plugins/ckeditor/ckeditor.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/Assets/js/off-canvas.js"></script>
    <script src="/Assets/js/misc.js"></script>
    <!-- endinject -->
    @RenderSection("jsFooter", required: false)
    <!-- Custom js for this page-->
    <script src="/Assets/js/dashboard.js"></script>
    <!-- End custom js for this page-->

    <script src="~/Assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/js/simpleLightbox.js"></script>

    @*popup Form *@
    <script src="~/Assets/js/simple-modal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>

<style type="text/css">


    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table th {
            background-color: #B8DBFD;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        table, table table td {
            border: 0px solid #ccc;
        }
</style>