﻿@model UM.WebApp.Models.ArticleModel

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDF_Template</title>
    <style type="text/css">
        body {
            font-family: sans-serif;
        }

        h1 {
            font-family: sans-serif;
            margin-bottom: 0;
        }

        article {
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        .image-wrapper {
            width: 200px;
            float: left;
            padding-right: 25px;
            padding-bottom: 10px;
        }

        .image-wrapper img {
            width: 100%;
        }

        .image-wrapper span {
            font-family: sans-serif;
            font-size: 10px;
            color: #ccc;
        }

        .article-meta {
            font-family: sans-serif;
            color: #aaa;
            font-size: 12px;
        }

        p {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <article>
        <h1>@Model.Title</h1>
        <p  class="article-meta"><strong>Author:</strong> @Model.Author.Username, <strong>Published:</strong> @Model.CreatedDate</p>

        @Html.Raw(Model.ArticleContent)

    </article>
</body>
</html>
