﻿@model UM.WebApp.Models.ArticleModel

@{
    ViewBag.Title = "AddNewArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script>
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/js/plugins/ckeditor/config.js',
        });

    </script>
}

<div class="col-lg-12 grid-margin">
    <h3 class="d-inline-block">Add New Article</h3>
</div>

@using (Html.BeginForm("AddNewArticle", "Article", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-9 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body justify-content-center">
                <div class="col-lg-12">
                    <div class="form-group">
                        <h4>Title: </h4>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @id = "titleArticle" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="form-group">
                        <h4>Content </h4>
                        @*<textarea class="form-control" id="txtContent"></textarea>*@
                        @Html.TextAreaFor(model => model.ArticleContent, new { @class = "form-control", @id = "txtContent" })
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="pull-left align-middle" style="margin-top: 8px;">
                    <input class="btn btn-inverse-primary" id="btnSaveDraft" type="submit" name="saveDraft" value="Save Draft" />
                    @*@Html.ActionLink("Save Draft", "AddNewArticle", )*@
                </div>
                @*<div class="btn-group pull-right">
                        <a class="btn btn-inverse-primary">Publish</a>
                    </div>*@
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
