﻿@using UM.WebApp.Common
@using UM.WebApp.Models

@model UM.WebApp.Models.ArticleModel

@{
    ViewBag.Title = "EditArticle";
}

@{
    var loginSession = (LoginSessionModel)Session[Constants.LOGIN_SESSION_KEY];
}

@section jsFooter{
    <script>
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/js/plugins/ckeditor/config.js',
        });

    </script>
}

<div class="col-lg-12 grid-margin">
    <h3 class="d-inline-block">Edit article "@Model.Title"</h3>
    <span class="text-success">@ViewData[Constants.SUCCESS_RESPONSE_MSG]</span>
    <span class="text-danger">@ViewData[Constants.FAILED_RESPONSE_MSG]</span>
</div>

@using (Html.BeginForm("EditArticle", "Article", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-9 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body justify-content-center">
                <div class="col-lg-12">
                    @Html.HiddenFor(model => model._Id, Model._Id)
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <h4>Status:</h4>
                            @Html.TextBoxFor(model => model.Publish, new { @type = "hidden" })
                            @if (Model.Publish)
                            {
                                <span class="text-success">Published</span>
                            }
                            else
                            {
                                <span class="text-danger">Not published</span>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <h4>Created date:</h4>
                            @Html.TextBoxFor(model => model.CreatedAt, new { @type = "hidden" })
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <h4>Title: </h4>
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @id = "titleArticle" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="form-group">
                            <h4>Content:</h4>
                            @Html.TextAreaFor(model => model.ArticleContent, new { @class = "form-control", @id = "txtContent" })
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (loginSession.Role == (int)Constants.Roles.Student)
                {
                    <div class="pull-left align-middle" style="margin-top: 8px;">
                        <a href="#" id="btnSaveDraft">Save Draft</a>
                    </div>
                }
                else if (loginSession.Role == (int)Constants.Roles.Coordinator)
                {
                    <div class="btn-group pull-right">
                        @if (Model.Publish)
                        {
                            <input class="btn btn-inverse-danger" type="submit" name="submit" value="Unpublish" />
                        }
                        else
                        {
                            <input class="btn btn-inverse-primary" type="submit" name="submit" value="Publish" />
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

