﻿@using UM.WebApp.Common
@using UM.WebApp.Models

@model IEnumerable<UM.WebApp.Models.ArticleModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var loginSession = (LoginSessionModel)Session[Constants.LOGIN_SESSION_KEY];
}

<div class="row">
    <div class="col-lg-12 grid-margin">
        <h3 class="d-inline-block">All Articles </h3>
        @if (loginSession.Role == (int)Constants.Roles.Student)
        {
            <a class="btn btn-outline-primary" id="addNewMediaBtn" href="/Article/AddNewArticle">Add New</a>
            <a class="btn btn-outline-danger" id="deleteMediaBtn" href="#">Delete All</a>
        }
        else if (loginSession.Role == (int)Constants.Roles.Manager)
        {
            @*<a class="btn btn-outline-primary" id="addNewMediaBtn" href="#!">Download All Article</a>*@
            @Html.ActionLink("Download All Article", "ExportAllToPDF", "Article", "", new { @class = "btn btn-outline-primary" })
        }
    </div>

    <!-- Filter - Search Bar -->
    <div class="col-lg-12 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <select id="filter" class="form-control">
                        <option selected>All times</option>
                        <option>February 2019</option>
                        <option>5/3/2019</option>
                    </select>

                </div>

                <div class="col-lg-6"></div>
                <div class="col-lg-3">
                    <input class="form-control" id="search" type="text" placeholder="Search..">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="box">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        @*<td><input name="all" id="btn1" type="checkbox" /></td>*@
                                        <th style="width: 40%">Title</th>
                                        @if (loginSession.Role == (int)Constants.Roles.Coordinator)
                                        {
                                            <th style="width: 10%">Author</th>
                                        }
                                        <th style="width: 10%">Created Date</th>
                                        <th style="width: 10%">Status</th>
                                        <th style="width: 20%">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="articleTable">
                                    @foreach (var article in Model)
                                    {
                                        <tr>
                                            @*<td><input type="checkbox" name="all" /></td>*@
                                            <td>@article.Title</td>
                                            @if (loginSession.Role == (int)Constants.Roles.Coordinator)
                                            {
                                                <td>@article.Author.Username</td>
                                            }
                                            <td>@article.CreatedDate</td>
                                            @if (article.Publish)
                                            {
                                                <td><span class="text-success">Published</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="text-danger">Not published</span></td>
                                            }
                                            <td>
                                                @*<a href="#" data-modal="open-modal" class="btn btn-outline-warning" onclick="getDetailArticle('@article._Id')"><i class="fas fa-eye"></i></a>*@
                                                <a class="btn btn-outline-warning" href="@Url.Action("ViewDetail", "Article", new { _Id = article._Id })"><i class="fas fa-eye"></i></a>

                                                @if (loginSession.Role == (int)Constants.Roles.Student || loginSession.Role == (int)Constants.Roles.Coordinator)
                                                {
                                                    <a class="btn btn-outline-success" href="@Url.Action("EditArticle", "Article", new { _Id = article._Id })"><i class="fas fa-pencil-alt"></i></a>
                                                }
                                                else if (loginSession.Role == (int)Constants.Roles.Student)
                                                {
                                                    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                                                }
                                                else if (loginSession.Role == (int)Constants.Roles.Manager)
                                                {
                                                    <a class="btn btn-outline-warning" href="@Url.Action("ExportToPDF", "Article", new { _Id = article._Id })" target="_blank"><i class="fas fa-sticky-note"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6"><span class="pull-right">Page: - Total records: </span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    @*</div>*@<!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>


</div>

@*Create a link or button to trigger a dialog box.*@
@*Create the Html content for the dialog*@

@*<div class="modal1" data-modal>
        <div class="modal-content">
            <button role="button" class="close-icon" data-modal="close-modal">X</button>
            <div class="modal-header">
                <h2 class="modal-title" id="articleTitle"></h2>
                <span></span>
            </div>
            <div class="modal-body" id="articleContent"></div>
            <div class="modal-footer">
                <button role="button" class="close-button" data-modal="close-modal">Close</button>
            </div>
        </div>
    </div>*@
<!-- .modal-content -->

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#articleTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script src="~/Assets/app_js/articleHandler.js"></script>
}