﻿@model UM.WebApp.Models.ArticleModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="col-lg-12 grid-margin">
        <h3 class="d-inline-block">All Articles </h3>

    </div>*@
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-comment-multiple-outline text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Total Comment</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">65</h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-message-text-outline mr-1" aria-hidden="true"></i> Comments
                </p>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-thumb-up text-primary icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Likes</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">246</h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-thumb-up mr-1" aria-hidden="true"></i> Likes
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="modal-header">
                    <h3 class="d-inline-block">@Model.Title</h3>
                </div>
                <hr />
                <!-- About Author -->
                <div class="row" style="text-align:center">
                    <div class="container">
                        <div class="center">
                            <br />
                            <img class="img-xs rounded-circle" src="~/Assets/images/faces/pikachu.jpg" alt="Profile image">
                            <br />
                            <div class="div">
                                <span>By </span><a href="#" class="author-name">@Model.Author.Username</a>
                                <p>Created on: @Model.CreatedDate </p>
                                <p>.....</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div>

                    <!-- Single Featured Post -->
                    <div>
                        @*<div class="post-thumb">
                    <a href="#"><img src="~/Assets/magazine/img/bg-img/25.jpg" alt=""></a>

                </div>*@
                        <div>
                            <div>
                                @Html.Raw(Model.ArticleContent)
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="comment_area clearfix">
                    <h5 class="title">1 Comment</h5>
                    <div class="row" style="text-align:center">
                        <div class="container">
                            <div class="center">
                                <br />
                                <!-- Comment Author -->
                                <div class="comment-author">
                                    <img class="img-xs rounded-circle" src="~/Assets/images/faces/pikachu.jpg" alt="Profile image">
                                </div>
                                <!-- Comment Meta -->
                                <div class="comment-meta">
                                    <a href="#" class="post-author">Author |</a>
                                    <a href="#" class="post-date">April 15, 2018</a>
                                    <p>.......</p>
                                </div>
                            </div>
                        </div>
                    </div>
                               
                </div>
                </div>
            </div>
        </div>
    @*</div>*@
    <div class="col-lg-12 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="post-a-comment-area section-padding-80-0">
                    <h4>Leave a comment</h4>

                    <!-- Reply Form -->
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <br />
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="col-12 text-center">
                                <button class="btn newspaper-btn mt-30 w-10" type="submit">Submit Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

