﻿@using UM.WebApp.Common;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
<script>
    $("#btnSelectImage").on('click', function (e) {
        e.preventDefault();
        var finder = new CKFinder();
        finder.selectActionFunction = function (url) {
            $("#txtImage").val(url);
        };
        finder.popup();
    })

    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    var startUpload = function (files) {
        console.log(files)
    }

    uploadForm.addEventListener('submit', function (e) {
        var uploadFiles = document.getElementById('js-upload-files').files;
        e.preventDefault()

        startUpload(uploadFiles)
    })

    dropZone.ondrop = function (e) {
        e.preventDefault();
        this.className = 'upload-drop-zone';

        startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function () {
        this.className = 'upload-drop-zone drop';
        return false;
    }

    dropZone.ondragleave = function () {
        this.className = 'upload-drop-zone';
        return false;
    }
</script>  
}

<div class="row">
    <div class="col-lg-12 grid-margin">
        <h4 class="d-inline-block">Upload New Media</h4>
    </div>

    <div class="col-lg-12 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- Standar Form -->
                <h4>Select files from your computer</h4>
                <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="file" name="mediaToUpload" id="js-upload-files" multiple>
                            @*<input class="form-control" id="txtImage" style="margin-right: 5px;" />
                            <a href="#" class="btn btn-sm btn-dark" id="btnSelectImage" style="margin-right: 10px;">Choose Image</a>*@
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                        <br />
                        <span class="text-success">@ViewData[Constants.SUCCESS_RESPONSE_MSG]</span>
                        <span class="text-danger">@ViewData[Constants.FAILED_RESPONSE_MSG]</span>
                    </div>
                </form>
                <!-- Drop Zone -->
                <h4>Or drag and drop files below</h4>
                <div class="upload-drop-zone" id="drop-zone">
                    Just drag and drop files here
                </div>

                <!-- Progress Bar -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <!-- Upload Finished -->
                <div class="js-upload-finished">
                    <h3>Processed files</h3>
                    <p>Maximum upload file size 2MB</p>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Edit</span>image-01.jpg</a>
                        <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Edit</span>image-02.jpg</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


