﻿
@{
    /**/

    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-lg-12 grid-margin">
        <h3 class="d-inline-block">Media Library</h3>
        <a class="btn btn-outline-primary" id="addNewMediaBtn" href="/Media/Index">Add New</a>
    </div>

    <!-- Filter - Search Bar -->
    <div class="col-lg-12 grid-margin" style="margin-bottom: 0;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3">
                    <select id="inputState " class="form-control">
                        <option selected>All media items</option>
                        <option>Images</option>
                        <option>Mine</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select id="filter" class="form-control">
                        <option selected>All times</option>
                        <option>February 2019</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary btn-block">Filter</button>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <input class="form-control" id="search" type="text" placeholder="Search..">
                </div>
            </div>
        </div>
    </div>

    <!-- Media gallery-->
    <div class="col-lg-12 grid-margin">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="box">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 25%">File name</th>

                                    <th style="width: 20%">Author</th>
                                    <th style="width: 40%">Date</th>
                                    <th style="width: 15%">Action</th>
                                </tr>
                                <tbody id="mediaTable">
                                    <tr>
                                        <td>
                                            <div class="image">

                                                <a title="pikachu.jpg" href="~/Assets/images/faces/pikachu.jpg" style="height:200px; width:200px">

                                                    <img src="~/Assets/images/faces/pikachu.jpg" />
                                                </a>
                                                Image 1
                                            </div>

                                        </td>

                                        <td>
                                            Aaa
                                        </td>
                                        <!--class="badge bg-red"-->
                                        <td>
                                            5/3/2019
                                        </td>
                                        <td>
                                            @*<button class="btn btn-outline-warning"><i class="fas fa-eye"></i></button>*@
                                            <button class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i>@*<i class="fa fa-pencil"></i>*@</button>
                                            <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="image">
                                                <a title="login_1.jpg" href="~/Assets/images/auth/login_1.jpg" style="height:200px; width:200px">
                                                    <img src="~/Assets/images/auth/login_1.jpg" />
                                                </a>
                                                Image 2
                                            </div>
                                        </td>

                                        <td>
                                            AAA
                                        </td>
                                        <!--class="badge bg-red"-->
                                        <td>
                                            5/3/2019
                                        </td>
                                        <td>
                                            @*<button class="btn btn-outline-warning"><i class="fas fa-eye"></i></button>*@
                                            <button class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i>@*<i class="fa fa-pencil"></i>*@</button>
                                            <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="image">

                                                <a title="University_of_Greenwich_logo.png" href="~/Assets/images/University_of_Greenwich_logo.png">
                                                    <img src="~/Assets/images/University_of_Greenwich_logo.png">
                                                </a>
                                                Image 3
                                            </div>

                                        </td>

                                        <td>
                                            CCC
                                        </td>
                                        <!--class="badge bg-red"-->
                                        <td>
                                            5/3/2019
                                        </td>
                                        <td>
                                            @*<button class="btn btn-outline-warning"><i class="fas fa-eye"></i></button>*@
                                            <button class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i>@*<i class="fa fa-pencil"></i>*@</button>
                                            <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                                            @*<button role="button" data-modal="open-modal" class="btn btn-outline-warning"><i class="fas fa-eye"></i></button>*@
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6"><span class="pull-right">Page: - Total records: </span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    @*</div>*@<!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>

    <!-- popup-->


</div>


<script>
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#mediaTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script src="~/Assets/js/simpleLightbox.js"></script>
<script>
    $('.image a').simpleLightbox();
</script>

@*Create a link or button to trigger a dialog box.*@
@*Create the Html content for the dialog*@

<div class="modal1" data-modal>
    <div class="modal-content">
        <button role="button" class="close-icon" data-modal="close-modal">X</button>
        <div class="modal-header">
            <h2 class="modal-title">Title 1</h2>
        </div>
        <div class="modal-body">
            <p>
                Five people have been injured and at least three killed after a shooting on a tram in the Dutch city of Utrecht.                     Five people have been injured and at least three killed after a shooting on a tram in the Dutch city of Utrecht. Five people have been injured and at least three killed after a shooting on a tram in the Dutch city of Utrecht.
                Five people have been injured and at least three killed after a shooting on a tram in the Dutch city of Utrecht.

            </p>
        </div>
        <div class="modal-footer">
            <button role="button" class="close-button" data-modal="close-modal">Close</button>
        </div>
    </div><!-- .modal-content -->
</div>

